#map {
    position: relative;
    left: 0px;
    top: 0px; 
    width: 940px;
    height: 500px;
    z-index: 0; /* Ensure pop-ups appear above the map! */ 
}

input[type=text]{
    width:40px;
}

#wmsurl{
    width:400px;
}
#layername{
    width:200px;
}
#imageLayerName{
    width:200px;
}
#wmsLayerName {
    width:200px;
}
#startframe, #endframe{
    width:160px;
}
input[type=range]{
    margin-left:0px;
    width:920px;
}

#startspan, #endspan{
    display:inline-block;
    white-space:nowrap;
}

#tabs{
    padding: 0;
    margin: 0;
    border-radius: 6px;
    background-color: #ffffff;
    border-bottom: 1px solid #eeeeee;
}

/*The content area*/
#tabs .ui-tabs-panel {
  background-color: #ffffff;
  color: #000000;
  display: inline-block;
  border:1px solid #aaaaaa;
}

/*tabs bar*/
#tabs .ui-widget-header{
    background:none;
    border:none;
}
#tabs ul{
  list-style:none;
  border-bottom: 1px solid #000000;
}
#tabs ul li a{
  float:left;
  min-width:100px;
  display:inline-block;
  white-space: normal;
  text-decoration: none;
  text-align: center;
  font-size: 24px;
  color: #000000;
  border: 1px solid #000000;
  background-color: #aaaaaa;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
/* fix x position of first tab*/
#tabs .ui-tabs-nav:first-child{
  padding-left:0px;
}
/* selected tab*/
#tabs .ui-tabs-active a{
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #000000;
}
