#map {
    position: relative;
    left: 0px;
    top: 0px; 
    width: 940px;
    height: 500px;
    z-index: 0; /* Ensure pop-ups appear above the map! */ 
}

input[type=text]{
    width:40px;
}
input[type=range]{
    width:820px;
}


